html, body {
background-color: #e7dfd8;
margin-left:0;
margin-right:0;
min-height: 400px;
overflow: auto;
}

.logo {
  height: 6rem;
  width: 6rem;
  position: absolute;
  top: 3rem;
  border-radius: 50%
}

nav {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
  height: 5rem
}

.nav-link {
  color: #231f20;
  text-decoration: none;
  font-family: Agrandir;
  font-weight: bold;
  max-height: 1rem;
}

.nav-link:hover {
  border-bottom: solid 2px #231f20;
  padding-bottom: 10px;


}

.top-spacer {
  height: 10rem;
}

.homePageContainer {
  height: 30rem;
  width: 70rem;
  border: solid 2px #231f20;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  display: flex;
  justify-content: space-between;
  padding: 4rem;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.homePageHeader {
  font-size: 5rem;
  color: #231f20;
  font-family: Agrandir;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 5px;
}

.homePageSubheader {
  font-size: 1.5rem;
  color: #231f20;
  font-family: Agrandir;
  margin-bottom: 0;
  margin-top: 2px;
  margin-left: 5px;
}

.homeRight {
  object-fit: contain;
}

.headShot {
  width: 34rem;
  height: 30rem;
  object-fit: contain;
}

.svgBlock {
  margin-top:15rem
}

.belowTheFold {
  width: 100vw;
  background-color: #e7dfd8;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  min-height: max-content;
}

.projectTitle {
  color: #231f20;
  font-size: 2rem;
  margin-bottom: 0;
  margin-left: 3rem;
}

.projectDescription {
  color: #231f20;
  font-size: 1rem;
  margin-left: 3rem;
  margin-top: 0;
  font-style:italic;
}

.recentProjects {
  color: #231f20;
  font-size: 3rem;
  margin-left: 5rem;
  margin-top: 10rem
}

.footer {
  margin-top:3rem;
  height: 2rem;
  color: white;
  background-color: #183622;
  font-size: 15px;
  text-align: center;

}

.svg {
  padding: 1rem;
}

.svg:hover {
  fill:red;
}

.projectDisplayHome {
  width: 28rem;
  height: 23rem;
  border: solid 2px #231f20;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.see-more-projects {
  border: 3px solid #183622;
  color: #183622;
  background-color: transparent;
  border-radius: 25px;
  margin: auto;
  height: 4rem;
  width: 13rem;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Agrandir;
}

.see-more-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ABOUT PAGE  */

.aboutPageContainer {
  height: 60rem;
  width: 70rem;
  border: solid 2px #231f20;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  padding: 4rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
}

.aboutImageWrapper {
  object-fit: contain;
  display: flex;
  justify-content:center;
  width: 70rem;
  height: 22rem;
}

.aboutImage {
  width: 15rem;
  height: 20rem;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto
}

.aboutPageHeader {
  font-size: 5rem;
  color: #231f20;
  font-family: Agrandir;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center

}

.aboutMeBioBox {
  height: 40rem;
  width: 35rem;
  margin-left: auto;
  margin-right: auto
}

.aboutMeBio {
  color: #231f20;
  font-size: 1.5rem;
  font-family: Agrandir;
}

/* PROJECT PAGE  */

.projectPageDiv {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 1rem
}

/* BLOG PAGE  */

.blogPageContainer {
  height: 60rem;
  width: 70rem;
  border: solid 2px #231f20;
  margin-left: auto;
  margin-right: auto;
  padding: 4rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-self: center;
}

.blogHeader {
  color: #231f20;
  font-size: 2rem;
  font-family: Agrandir;
  margin-bottom: 0;
  margin-top: 0;
}

.blogTeaserText {
  color: #231f20;
  font-size: 1.5rem;
  font-family: Agrandir;
  margin: 0
}

.blogReadMore {
  color: #231f20;
  font-size: 1.5rem;
  font-family: Agrandir;
  margin: 0
}

.blog-question {
  font-weight: bold;
  font-size: 1.2rem;
}

.blog-text {
  font-size: 1rem;
}

.blog-header {
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  margin-top: 2rem;
}

.blog-date {
  font-size: 1rem;
  margin:0;
}

/* a.read-more-link {
  margin-bottom: 2rem;
} */
