html {
background-color: #e7dfd8;
position:relative; 
margin-left:0;
margin-right:0;
padding:0;
overflow: auto; 
}

.logo {
  height: 6rem;
  width: 6rem;
  position: absolute;
  top: 3rem;
  border-radius: 50%
}

nav {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
  height: 5rem
}

.nav-link {
  color: #231f20;
  text-decoration: none;
  font-family: Agrandir;
  font-weight: bold;
  height: 1rem
}

.nav-link:hover {
  border-bottom: solid 2px #231f20;
  padding-bottom: 10px;
  border-top: solid 2px #231f20;
  padding-top: 10px

}

.top-spacer {
  height: 10rem;
}

.homePageContainer {
  height: 30rem;
  width: 70rem;
  border: solid 2px #231f20;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  display: flex;
  justify-content: space-between;
  padding: 4rem;
}

.homePageHeader {
  font-size: 5rem;
  color: #231f20;
  font-family: Agrandir;
  margin-bottom: 0;
  margin-top: 0;
}

.homePageSubheader {
  font-size: 1.5rem;
  color: #231f20;
  font-family: Agrandir;
  margin-bottom: 0;
  margin-top: 8px;
}

.homeRight {
  object-fit: contain;
}

.headShot {
  width: 34rem;
  height: 30rem;
  object-fit: contain;
}

.svgBlock {
  margin-top:15rem
}

.belowTheFold {
  height: 30rem;
  width: 100vw;
  background-color: #e7dfd8;
  display: flex;
  justify-content: space-around;
}

.projectDisplayHome {
  border: solid 2px #231f20;
  width: 20rem;
  height: 20rem
}

.projectTitle {
  color: #231f20;
  font-size: 2rem;
  margin-bottom: 0;
}

.projectDescription {
  color: #231f20;
  font-size: 1rem
}

.recentProjects {
  color: #231f20;
  font-size: 3rem;
  margin-left: 5rem;
  margin-top: 10rem
}

footer {
  position: relative;
  height: 1.5rem;
  width: 100%;
  bottom: 0;
  color: white;
  background-color: #183622;
  font-size: 15px;
  text-align: center;

}

.svg {
  padding: 1rem;
}

.svg:hover {
  background-color:#231f20
}

/* ABOUT PAGE  */

.aboutPageContainer {
  height: 60rem;
  width: 70rem;
  border: solid 2px #231f20;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  padding: 4rem;
}

.aboutImageWrapper {
  object-fit: contain;
  display: flex;
  justify-content:center;
  width: 70rem;
  height: 22rem;
}

.aboutImage {
  width: 15rem;
  height: 20rem;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto
}

.aboutPageHeader {
  font-size: 5rem;
  color: #231f20;
  font-family: Agrandir;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center

}

.aboutMeBioBox {
  height: 40rem;
  width: 35rem;
  margin-left: auto;
  margin-right: auto
}

.aboutMeBio {
  color: #231f20;
  font-size: 1.5rem;
  font-family: Agrandir;
}

/* PROJECT PAGE  */

.projectPageDiv {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 1rem
}

/* BLOG PAGE  */

.blogPageContainer {
  height: 60rem;
  width: 70rem;
  border: solid 2px #231f20;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  padding: 4rem;
}

.blogHeader {
  color: #231f20;
  font-size: 2rem;
  font-family: Agrandir;
  margin-bottom: 0
}

.blogTeaserText {
  color: #231f20;
  font-size: 1.5rem;
  font-family: Agrandir;
  margin: 0
}

.blogReadMore {
  color: #231f20;
  font-size: 1.5rem;
  font-family: Agrandir;
  margin: 0
}